<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/navbar.ejs')%>
            <div class="container">
                <div class="card" id="formulario-pergunta">
                    <div class="card-header">
                        <h3>Realize sua pergunta</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/salvarpergunta">
                            <label>Título</label>
                            <input class="form-control" type="text" placeholder="Seu Título" name="titulo">
                            <label>Descrição</label>
                            <textarea class="form-control" placeholder="Digite sua pergunta aqui"
                                name="descricao"></textarea>
                            <br>
                            <button class="btn btn-dark">Perguntar</button>
                        </form>
                    </div>
                </div>
            </div>
    </body>
    <%- include('./partials/footer.ejs')%>